body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 90px;
margin: 50px auto 0 auto ;
font-family: 'Sacramento', cursive;
color: #66BFBF;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;


}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}
.a{
  color: #11999E;
  font-family: 'Montserrat'sans-serif;
  margin: 20px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}

.top-container{
  background-color: #B8E8FC;
  position:relative;
  padding-top:100px;
  color:#66BFBF;

}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  color: #11999E;
background-color: #11999E;
padding: 50px 0 20px;
}
.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin:auto;
}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:50px;
}
.skill-row{
margin: 100px auto 100px auto;

}
.web-img{
  width:15%;
  float: left;
  margin-right: 30px;
  background-color:#66BFBF;
  border-radius: 50%;
  margin-left: 20%;
}
.tkd-img{
  width:15%;
  float: right;
  background-color: black;
    border-radius: 50%;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  font-size:20px;
  font-family:Arial;
  width:167px;
  height:66px;
  border-width:0px;
  color:rgba(143, 226, 226, 1);
  border-color:rgba(17, 205, 212, 1);
  border-top-left-radius:37px;
  border-top-right-radius:37px;
  border-bottom-left-radius:37px;
  border-bottom-right-radius:37px;
  box-shadow:inset 22px 23px 16px 3px rgba(48, 227, 203, 1);
  text-shadow:inset 24px 25px 0px rgba(43, 196, 173, 1);
  background:linear-gradient(rgba(17, 205, 212, 1), rgba(7, 34, 53, 1));
}

.btn:hover {
  background: linear-gradient(rgba(7, 34, 53, 1), rgba(17, 205, 212, 1));
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
